@theme-white: #FFFFFF;
@theme-black: #000000;
@theme-yellow: #DBD8BB;
@theme-color1: #1C1B22;
@theme-color2: #2B2A33;
@theme-color3: #3E3D47;
@theme-color4: #42414D;
@theme-color5: #5C5B64;

@background-dark: @theme-color1;
@background-light: @theme-color2;

body {
	background: @theme-color1;
	color: @theme-white;
}

.home-banner img {
	filter: invert(100%);
}

.frame-wrapper {
	border: none 0;
	box-shadow: none;
	iframe {
		background: @theme-white;
	}
}

::-webkit-scrollbar-thumb {
    background-color: @theme-color4;
}

.close {
	color: @theme-white;
	&:hover {
		color: @theme-white;
	}
}

.top-bar .actions > img:hover {
	background: @theme-color3;
}

.logged-scope .scope-icon > *,
.header [data-toggle='dropdown'] .user-avatar {
	border: solid 1px @theme-color4;
}

.logged-scope .apps .thumbnail {
	border: none 0;
	background: @theme-color5;
	&:hover {
		background: @theme-color2;
	}
	color: @theme-white;
}

.header .btn-header {
	border-radius: .25rem;
	&:hover, &:focus {
		background: @theme-color4;
	}
}

.logged-user {
	.user-profile, .other-login, .languages, .user-logout, .zoom-bar {
    	border-bottom: solid 0.0625rem @theme-color5;
	}
	.zoom-bar {
    	border-top: solid 0.0625rem @theme-color5;
	}
	.user-logout {
    	border-top: none 0;
	}
	.languages, .user-logout {
		background: @theme-color2;
	}
}

.dropdown-menu {
	background: @theme-color4;
    box-shadow: 0.125rem 0.125rem 0.375rem @theme-color5;
}

.header .dropdown-menu {
	background: @theme-color4;
}

.dropdown-menu > li {
	color: @theme-white;
	&:hover {
		background: @theme-color5;
		color: @theme-white
	}
}

.filter {
	border: none 0;
	background: @theme-yellow;
}

.badge, ul.main-menu .badge {
	background: @theme-yellow;
	color: #202020;
}

.alert-info {
    color: #202020;
    background: @theme-yellow;
    border-color: darken(@theme-yellow, 20%);
}

ul.main-menu > li a:hover, ul.main-menu > li.active > a {
	font-weight: bold;
}

.list-shortcuts {
	.item {
		background: @theme-color2;
		color: @theme-white;
		border-radius: .25rem;
		&:hover {
			box-shadow: none;
			background: @theme-color3;
		}
	}
}

.panel-list .actions .btn.active, .filter {
	background: @theme-yellow;
	color: @theme-black;
}

.filter {
	border: none 0;
}

.btn-selrows {
	color: @theme-white;
}

.table td.actions .btn-action:hover,
.btn-selrows:hover, .btn-selrows:active, .btn-selrows:focus {
	background: darken(@theme-color3, 5%);
	color: @theme-white;
}

.objlinks .tab-content {
    background: @theme-color4;
}

.objform .markdown-html {
    border: solid 0.0625rem @theme-color4;
}

.btn-plus, .btn-icon, .btn-extend {
	background: transparent;
	color: @theme-white;
}

table, .table {
	box-shadow: none;
	 tbody+tbody {
		border: none 0;
	}
	thead th {
		border-bottom: none 0;
	}
}

tr.group-by-title > td, .obj-grid > .group-by-title {
	background: @theme-color1 !important;
	color: @theme-white !important;
	border: none 0 !important;
}

.table > tbody > tr > td, .table > tbody > tr > th {
    border-right: solid 0.0625rem @theme-color4;
}

.form-navbar .btn-first, .form-navbar .btn-prev, .form-navbar .btn-next, .form-navbar .btn-last {
	color: @theme-white;
}

.form-control,
.searchby .form-control,
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
	background: @field-input-background; /* ZZZ should be done by the theme editor ZZZ */
	color: @theme-white;
}

.reference input.ref-selectbox:focus, .reference select.ref-selectbox:focus, .reference textarea.ref-selectbox:focus, .reference.search-control.ref-selectbox:focus, .reference .markdown-html.ref-selectbox:focus {
    background-color: lighten(@field-input-reference-background, 50%);
}

.select2-dropdown {
    background-color: @field-input-background; /* ZZZ should be done by the theme editor ZZZ */
    border: solid 1px @theme-color5;
}

.select2-container--bootstrap .select2-results__option[aria-selected=true] {
	background-color: @theme-color2 !important;
	color: @theme-white !important;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] .enum-item {
	background-color: @theme-color5 !important;
	color: @theme-white !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-color: transparent;
}

.obj-summary {
	background: @theme-color2;
	color: @theme-white;
	border: none 0;
	.title {
		background: inherit;
		color: inherit;
		border-bottom-color: @theme-color5;
	}
	&:hover .title {
		background: inherit;
		color: inherit;
	}
	.obj-actions {
		background: inherit;
		color: inherit;
		border-top-color: @theme-color2;
		.actions .btn {
			color: @theme-white;
		}
	}
}

.ace_editor {
	background: @theme-color2 !important;
}
.ace_gutter-layer, .ace_folding-enabled > .ace_gutter-cell {
	background: @theme-color4 !important;
}

.code-editor {
	.editor-head {
		background: @theme-color4 !important;
		border-radius: 0;
	}
	.editor-explore {
		background: @theme-color4 !important;
		a {
			color: @theme-white !important;
			&:hover {
				background: @theme-color5 !important;
			}
		}
		.module > a {
    		background: @theme-color2 !important;
			color: @theme-white !important;
		}
		.object > a {
		    color: #f5b7b6 !important;
		}
		.resource > a {
		    color: #cbebfd !important;
		}
	}
}

.ace_editor_embedded {
	border-color: @theme-color5;
}

.export-data h3 {
	background: transparent;
}

.form-areas {
	.nav-tabs {
		border-bottom-color: @subpanel-header-border-bottom-color;
		.nav-link {
			background-color: transparent;
			color: @subpanel-color;
			border-color: @subpanel-border-color;
			border-bottom-color: @subpanel-header-border-bottom-color;
			border-radius: 0;
			&:hover, &:focus {
				background-color: @subpanel-background-color;
				color: @subpanel-color;
			}
		}
		.nav-link.active,
		.nav-link.active:focus,
		.nav-link.active:hover {
			background-color: @subpanel-background-color;
			color: @subpanel-color;
			border-width: 1px;
			border-color: @subpanel-border-color;
			border-bottom-color: @subpanel-header-border-bottom-color;
		}
	}
	.tab-content {
		background-color: @subpanel-background-color;
		color: @subpanel-color;
		box-shadow: none;
	}
	.table > thead > tr.head {
		background-color: @theme-color3;
	}
}

.sysinfos .users, .sysinfos .jobs {
	border-color: @theme-color5;
}

.table td, .table th {
	color: @theme-white;
	border-color: @theme-color5;
}

.markdown-edit {
	.md-preview {
		background: @theme-color4;
	}
	.md-ace, .md-preview {
		border-color: @theme-color5;
	}
}

.db-access {
	background: @theme-color4;
	color: @theme-white;
}